# Configuration NPM pour Vercel
fund=false
audit=false

# Forcer la résolution stricte des modules
strict-peer-deps=false
legacy-peer-deps=false

# Optimiser l'installation
prefer-offline=false
progress=false

engine-strict=false
save-exact=false
package-lock=true